.contacts {
    overflow-x: clip;

    .container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        position: relative;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            top: -30px;
            right: -70px;
            width: 328px;
            height: 262.4px;
            border-radius: 328px;
            background: linear-gradient(267deg, rgba(35, 114, 73, 0.08) 3.05%, rgba(53, 198, 107, 0.11) 40.73%);
            filter: blur(64px);
            z-index: -1;
        }

        @media screen and (min-width: 728px) {
            flex-direction: row-reverse;
            gap: 0px;
            justify-content: space-between;
        }
    }

    &__section {
        &:first-child {
            margin: 0px 0px 0px auto;
            max-width: max-content;

            @media screen and (min-width: 728px) {
                margin: 0px 0px 0px 0px;
            }
        }

        &-img {}



        &:last-child {
            display: flex;
            flex-direction: column;
            gap: 28px;

            @media screen and (min-width: 728px) {
                gap: 56px;
            }
        }



        &-box {
            display: flex;
            flex-direction: column;
            gap: 36px;

            @media screen and (min-width: 728px) {
                gap: 52px;
            }
        }

        &-title {
            max-width: 219px;
            color: $white-color-f;
            font-size: 48px;
            font-weight: 800;
            line-height: 1.1;
            letter-spacing: -1.44px;
            overflow-wrap: break-word;

            @media screen and (min-width: 728px) {
                overflow-wrap: normal;
                font-size: 80px;
                letter-spacing: -2.4px;
            }

            &-span {
                background: linear-gradient(263deg, $gradient-1-color 3.14%, $gradient-2-color 87.2%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-text {
            max-width: 320px;
            color: $white-color-f-t;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: -0.28px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 20px;
                width: 111px;
                height: 95.56px;
                background-color: rgba(217, 217, 217, 0.06);
                filter: blur(26px);
                z-index: -9;
            }

            @media screen and (min-width: 728px) {
                font-size: 20px;
                letter-spacing: -0.4px;
            }
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 19px;
            max-width: 100%;

            @media screen and (min-width: 728px) {
                gap: 28px;
            }
        }

        &-contact {

            &-link {
                display: flex;
                gap: 16px;
                color: $white-color;
                font-size: 21.438px;
                font-weight: 500;
                line-height: 1.3;
                transition: 250ms;

                &:hover {
                    opacity: .8;
                }

                @media screen and (min-width: 728px) {
                    font-size: 32px;
                }

                &-img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

}