.header {
    // position: fixed;
    padding: 48px 0px;
    background-color: $red-color;


    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 728px) {
            justify-content: flex-start;
            gap: 130px;
        }
    }

    &__logo {
        display: block;
        width: 100px;
        position: relative;
        color: $white-color-f;
        // color: $sky-color;
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 1px;
        z-index: 10;
        transition: 120ms;

        &:hover {
            opacity: .8;
        }

        &-img {
            position: absolute;
            top: 0px;
            right: 39px;
            width: 35px;
        }
    }

    &__nav {}

    &__items {
        display: none;

        @media screen and (min-width: 728px) {
            display: flex;
            gap: 95px;
        }
    }

    &__item {

        &-link {
            color: $white-color-f;
            text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            font-size: 19px;
            font-weight: 400;
            position: relative;
            transition: width, opacity ease-in-out 250ms;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0%;
                border-radius: 2px;
                border-bottom: 2px solid $gray-color;
                transition: width ease-in-out 250ms;
            }

            &:hover {
                opacity: .9;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__btn {
        display: block;
        background-color: transparent;

        &:hover,
        &:focus {
            outline: 0;
            opacity: .8;
        }

        @media screen and (min-width: 728px) {
            display: none;
        }

        &-svg {
            width: 43px;
            height: 43px;
            fill: $white-color;
        }
    }
}