.header {
    position: fixed;
    padding: 8px 0px;
    background-color: #ea5d74;


    .container {
        position: relative;
    }

    &__logo {
        display: block;
        width: 100px;
        position: relative;
        font-family: "Paytone One";
        // color: $sky-color;
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 1px;
        z-index: 10;
        transition: 120ms;

        &:hover {
            opacity: .8;
        }

        &-img {
            position: absolute;
            top: 0px;
            right: 39px;
            width: 35px;
        }
    }
}