.hero {
    padding: 80px 0px 111px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 54px;
    }

    &__title {
        width: 543px;
        color: $white-color-f;
        font-family: Montserrat;
        font-size: 80px;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: -2.4px;


        &-span {
            background: linear-gradient(263deg, #237249 3.14%, #35C66B 87.2%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        width: 570px;
        color: #D9D9D9;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.4px;
    }

    &__box {
        display: flex;
        gap: 16px;

        &-btn {
            padding: 19px 83px 20px 74px;
            background: transparent;
            border: none;
            color: $white-color;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.48px;
            transition: all ease-in-out 250ms;
            position: relative;


            &:not(:last-child) {
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
                    transition: opacity 250ms ease-in-out;
                    border-radius: 83px;
                    z-index: -1;
                }

                &::before {
                    background: linear-gradient(265deg, #237249 6.79%, #35C66B 97.2%);
                    opacity: 1;
                }

                &::after {
                    background: linear-gradient(265deg, #e24338 6.79%, #d37767 97.2%);
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 0;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            &:last-child {
                padding: 20px 54px;
                border-radius: 82.834px;
                border: 1.023px solid var(--lll, $white-color);
                background: #1215178f;

                &:hover {
                    background: #beb9b6;
                    color: $gray-color;
                }
            }
        }
    }

    &__items {
        display: flex;
        gap: 46px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-title {
            color: $white-color-f;
            font-family: Montserrat;
            font-size: 62px;
            font-weight: 400;
            line-height: 1;

            &-span {
                background: linear-gradient(267deg, #237249 -46.81%, #35C66B 52.2%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-text {
            width: 122.717px;
            color: #D9D9D9;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 144.471%;
            letter-spacing: -0.4px;
        }
    }
}