.hero {
    padding: 80px 0px 111px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        gap: 26px;

        @media screen and (min-width: 1246px) {
            flex-direction: row;
            gap: 0;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 54px;
        width: 100%;

        @media screen and (min-width: 1246px) {
            width: auto;
        }
    }

    &__title {
        width: 100%;
        color: $white-color-f;
        font-family: Montserrat;
        font-size: 52px;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: -1.44px;
        overflow-wrap: break-word;

        @media screen and (min-width: 728px) {
            font-size: 80px;
            letter-spacing: -2.4px;
        }

        @media screen and (min-width: 1246px) {
            width: 543px;
        }
    }

    &__text {
        width: 100%;
        color: $white-color-f-t;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.24px;
        font-weight: 400;
        line-height: 1.6;
            background: linear-gradient(263deg, $gradient-1-color 3.14%, $gradient-2-color 87.2%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        @media screen and (min-width: 728px) {
            font-size: 20px;
            letter-spacing: -0.4px;
        }

        @media screen and (min-width: 1246px) {
            width: 570px;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        @media screen and (min-width: 728px) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        @media screen and (min-width: 1246px) {}

        &-btn {
            display: block;
            width: 100%;
            padding: 13px 53px 13px 53px;
            background: transparent;
            border: none;
            color: $white-color;
            font-family: Montserrat;
            font-size: 18px;
            letter-spacing: -0.322px;
            font-weight: 600;
            line-height: 1.5;
            transition: all ease-in-out 250ms;
            position: relative;

            @media screen and (min-width: 728px) {
                padding: 19px 83px 20px 74px;
                width: auto;
                font-size: 24px;
                letter-spacing: -0.48px;
            }


            &:not(:last-child) {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
                    transition: opacity 250ms ease-in-out;
                    border-radius: 83px;
                    z-index: -1;
                }

                &::before {
                    background: linear-gradient(265deg, $gradient-1-color 6.79%, $gradient-2-color 97.2%);
                    opacity: 1;
                }

                &::after {
                    background: linear-gradient(265deg, $gradient-hover-1-color 6.79%, $gradient-hover-2-color 97.2%);
                    opacity: 0;
                }

                &:hover::before {
                    opacity: 0;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            &:last-child {
                max-width: 150px;
                padding: 13px 36px;
                border-radius: 83px;
                background: $btn-hover-color1;

                @media screen and (min-width: 728px) {
                    padding: 20px 54px;
                    max-width: 168px;
                }

                &:hover {
                    background: $btn-hover-color2;
                    color: $gray-color;
                }
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 46px;

        @media screen and (min-width: 728px) {
            flex-direction: row;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-title {
            color: $white-color-f;
            font-family: Montserrat;
            font-size: 62px;
            font-weight: 400;
            line-height: 1;
            margin: 0px auto;

            @media screen and (min-width: 728px) {
                margin: 0px;
            }

            &-span {
                background: linear-gradient(267deg, $gradient-1-color -46.81%, $gradient-2-color 52.2%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-text {
            width: 122.717px;
            color: $white-color-f-t;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 144.471%;
            letter-spacing: -0.4px;
            margin: 0px auto;

            @media screen and (min-width: 728px) {
                margin: 0px;
            }
        }
    }
}