.make {
    padding: 111px 0px 150px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 48px;
        position: relative;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            width: 309.459px;
            height: 267px;
            border-radius: 309.459px;
            background: linear-gradient(267deg, $gradient-bcg2-color1 3.05%, $gradient-bcg2-color2 40.73%);
            filter: blur(72px);
            z-index: -1;
        }

        @media screen and (min-width: 728px) {
            flex-direction: row;
            gap: 0px;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 63px;

        &-title {
            width: 100%;
            color: $white-color-f;
            font-family: Montserrat;
            font-size: 48px;
            letter-spacing: -1.44px;
            font-weight: 800;
            line-height: 1.1;
            overflow-wrap: break-word;

            @media screen and (min-width: 728px) {
                width: 411px;
                font-size: 80px;
                letter-spacing: -2.4px;
            }

            &-span {
                background: linear-gradient(263deg, $gradient-1-color 3.14%, $gradient-2-color 87.2%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-text {
            width: 100%;
            color: $white-color-f-t;
            font-family: Montserrat;
            font-size: 14px;
            letter-spacing: -0.28px;
            font-weight: 400;
            line-height: 1.6;

            @media screen and (min-width: 728px) {
                width: 457px;
                font-size: 20px;
                letter-spacing: -0.4px;
            }
        }
    }


}