.projects {
    padding: 64px 0px 64px 0px;
    overflow-x: hidden;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 42px;
        overflow-x: visible;
        z-index: 2;
    }

    &__section {
        display: flex;

        &-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $green-color;
            background-color: transparent;
            border-radius: 18px;
            width: 55px;
            height: 55px;
        }
    }

    &__section:first-child {
        flex-direction: column;
        gap: 36px;
    }

    &__title {
        color: $white-color-f;
        font-size: 53px;
        letter-spacing: -1.6px;
        font-weight: 800;
        line-height: 1.1;
        overflow-wrap: break-word;

        @media screen and (min-width: 728px) {
            overflow-wrap: normal;
            font-size: 80px;
            letter-spacing: -2.4px;
        }

        &-span {
            background: linear-gradient(263deg, $gradient-1-color 3.14%, $gradient-2-color 87.2%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        max-width: 258px;
        color: $white-color-f-t;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.3px;

        @media screen and (min-width: 728px) {
            font-size: 20px;
            letter-spacing: -0.4px;
        }
    }

    &__section:last-child {
        width: 100%;
        height: 190px;
        position: relative;
        z-index: 3;
    }

    &__items {
        // position: absolute;
        // top: 0;
        // right: 130px;
        display: flex;
        gap: 36px;
        align-items: center;
        flex-direction: row-reverse;
    }

    &__item {
        position: relative;
        // border-radius: 19.168px;
        border: 1px solid $green-color;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        corner-shape: superellipse(1.5);

        display: flex;
        flex-direction: column;
        gap: 10px;

        &-img {
            margin: 0px 0px 10px 0px;
        }
    }
}