html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    // scrollbar-color: $bcg-color $black-color;
}

body {
    position: relative;
    // font-family: "DM Sans", serif;
    // background-color: $black-color;
}

header, section, footer {
    width: 100%;
}

// TextCursor.jsx
.text-cursor-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.text-cursor-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.text-cursor-item {
  position: absolute;
  will-change: transform, opacity;
}

// TextType
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
