$gray-color: #494e4c;
$red-color: #af261c;
$link-color: #c04a42;
// $red-color: #f15a46;
$white-color: #e9d2cf;
$white-bcg-color: #efd1a5;
// $white-bcg-color: #e6be9a;
$white-color-f: #5e1c25;
// $white-color-f: #ffffff;
$white-color-f-t: #330e12;
// $white-color-f-t: #D9D9D9;
$green-color: #237249;
$btn-hover-color1: #00816a;
$btn-hover-color2: #a9ddc7;

$gradient-1-color: #1d351d;
$gradient-2-color: #325632;

$gradient-hover-1-color: #ff3a2f;
$gradient-hover-2-color: #a92921;
// $gradient-1-color: #237249;
// $gradient-2-color: #35C66B;

$gradient-bcg-color1: rgba(236, 69, 83, 0.507);
$gradient-bcg-color2: rgba(255, 0, 0, 0.24);