<section class="contacts">
    <div class="container">
        <div class="contacts__section">
            <img src="#" alt="#" class="contacts__section-img">
        </div>
        <div class="contacts__section">
            <div class="contacts__section-box">
                <h2 class="contacts__section-title">Kontakt zur <span class="contacts__section-title-span">Klasse 7A</span></h2>
                <p class="contacts__section-text">Offizielle Anfragen zur Klasse 7a laufen über die Schule und die Klassenleitung. Persönliche Daten der Schülerinnen und Schüler werden aus Datenschutzgründen nicht veröffentlicht.</p>
            </div>
            <ul class="contacts__section-contacts">
                <li class="contacts__section-contact">
                    <a href="" class="contacts__section-contact-link">
                        <img src="#" alt="#" class="contacts__section-contact-link-img">
                        @supercoffee
                    </a>
                </li>
                <li class="contacts__section-contact">
                    <a href="" class="contacts__section-contact-link">
                        <img src="#" alt="#" class="contacts__section-contact-link-img">
                        +7-999-999-99-99
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>