<section class="events">
    <div class="container">
        <div class="events__section">
            <h2 class="events__title">Our New <span class="events__title-span">Events</span></h2>
            <p class="events__text">Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of
                you, and in 2022 we are ready to destro</p>
        </div>
        <div class="events__section">
            <button class="events__btn"><-</button>
            <div class="events__section-content">
                <div class="events__event">
                    <h3 class="events__event-title">TWO COFFEE FOR 1 PRICE</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">KITCHEN TOUR</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">FREE COFFEE FOR 3 COFFEE</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">OUR INSTAGRAM</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">WHERE ARE YOU CHOOSE US?</h3>
                </div>
            </div>
        </div>
    </div>
</section>