<section class="events">
    <div class="container">
        <div class="events__section">
            <h2 class="events__title">Unsere <span class="events__title-span">Highlights</span></h2>
            <p class="events__text">Im Laufe des Schuljahres erlebt die 7a viele besondere Momente. Einige unserer Highlights stellen wir hier vor.</p>
        </div>
        <div class="events__section">
            <button class="events__btn"><-</button>
            <div class="events__section-content">
                <div class="events__event">
                    <h3 class="events__event-title">Kennenlerntag zu Schulbeginn</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">Klassenfahrt im Herbst</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">Projekttag „Digitale Medien“</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">Weichnachts Projekten</h3>
                </div>
                <div class="events__event">
                    <h3 class="events__event-title">Elternabend mit der 7a</h3>
                </div>
            </div>
        </div>
    </div>
</section>