<section class="hero">
    <div class="container">
        <div class="hero__block">
            <h2 class="hero__title" id="hero-title">
                Willkommen in der Klasse <span class="hero__title-span">7A</span></h2>
            <p class="hero__text">Wir lernen, lachen und wachsen zusammen an der Petrischule in Mühlhausen. Gemeinsam wollen wir unsere Sprachkenntnisse verbessern und im Unterricht als Team erfolgreich sein.</p>
            <div class="hero__box">
                <button class="hero__box-btn">Unsere Fächer</button>
                <button class="hero__box-btn">Infos</button>
            </div>

            <ul class="hero__items">
                <li class="hero__item">
                    <h3 class="hero__item-title">25</h3>
                    <p class="hero__item-text">Schülerinnen & Schüler</p>
                </li>
                <li class="hero__item">
                    <h3 class="hero__item-title">7</h3>
                    <p class="hero__item-text">Fächer</p>
                </li>
            </ul>
        </div>
        <div class="hero__block">
            <img src="#" alt="Image" class="hero__img">
        </div>
    </div>
</section>