<section class="hero">
    <div class="container">
        <div class="hero__block">
            <h2 class="hero__title">New Cafe by <span class="hero__title-span">StarBucks</span></h2>
            <p class="hero__text">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</p>
            <div class="hero__box">
                <button class="hero__box-btn">Select a coffee</button>
                <button class="hero__box-btn">More</button>
            </div>

            <ul class="hero__items">
                <li class="hero__item">
                    <h3 class="hero__item-title">9k<span class="hero__item-title-span">+</span></h3>
                    <p class="hero__item-text">Premium Users</p>
                </li>
                <li class="hero__item">
                    <h3 class="hero__item-title">2k<span class="hero__item-title-span">+</span></h3>
                    <p class="hero__item-text">Happy Customer</p>
                </li>
                <li class="hero__item">
                    <h3 class="hero__item-title">28<span class="hero__item-title-span">+</span></h3>
                    <p class="hero__item-text">Awards Winning</p>
                </li>
            </ul>
        </div>
        <div class="hero__block">
            <img src="#" alt="Image" class="hero__img">
        </div>
    </div>
</section>