<section class="make">
    <div class="container">
        <div class="make__section">
            <img src="#" alt="Image" class="make__section-img">
        </div>
        <div class="make__section">
            <h2 class="make__section-title"><span class="make__section-title-span">Über </span>uns</h2>
            <p class="make__section-text">Wir sind eine bunte Klasse mit Schülerinnen und Schülern aus verschiedenen Ländern. In der 7a helfen wir uns gegenseitig, respektieren einander und sorgen dafür, dass sich jede und jeder wohlfühlt.</p>
        </div>
    </div>
</section>