<section class="make">
    <div class="container">
        <div class="make__section">
            <img src="#" alt="Image" class="make__section-img">
        </div>
        <div class="make__section">
            <h2 class="make__section-title">We make <span class="make__section-title-span">delicious</span></h2>
            <p class="make__section-text">Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and in 2022 we are ready to destroy the market</p>
        </div>
    </div>
</section>