<section class="make">
    <div class="container">
        <div class="make__section">
            <img src="#" alt="Image" class="make__section-img">
        </div>
        <div class="make__section">
            <h2 class="make__section-title"><span class="make__section-title-span">Gemeinsam</span> lernen</h2>
            <p class="make__section-text">Unsere Klasse 7a ist bunt gemischt: Wir kommen aus verschiedenen Ländern, sprechen unterschiedliche Sprachen und lernen gemeinsam Deutsch. Im Unterricht arbeiten wir oft in Gruppen, helfen uns gegenseitig und übernehmen Verantwortung füreinander. Uns ist wichtig, dass sich jede und jeder in der Klasse wohlfühlt, wir respektvoll miteinander umgehen und als Team zusammenhalten.</p>
        </div>
    </div>
</section>