<section class="projects">
    <div class="container">
        <div class="projects__section">
            <h2 class="projects__title">New Our <span class="projects__title-span">Products</span></h2>
            <p class="projects__text">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't
                forget about the discount!</p>
        </div>
        <div class="projects__section">
            <ul class="projects__items">
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">111111</h3>
                    <p class="projects__item-text">1</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">22222</h3>
                    <p class="projects__item-text">2</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">33333</h3>
                    <p class="projects__item-text">3</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">44444</h3>
                    <p class="projects__item-text">4</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">55555</h3>
                    <p class="projects__item-text">5</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">66666</h3>
                    <p class="projects__item-text">6</p>
                </li>
                <li class="projects__item">
                    <img src="#" alt="Project" class="projects__item-img">
                    <h3 class="projects__item-title">77777</h3>
                    <p class="projects__item-text">7</p>
                </li>
            </ul>
        </div>
    </div>
</section>